@import url("../../Main.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#telaDashboards {
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column-reverse;
    

    gap: 1.25rem;
    padding-right: 0.5625rem;

    background-color: var(--background-cinza);
}

#telaDashboards #containerDashboards {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    width: 100%;

    padding-left: 23.50rem;
    padding-right: 0.75rem;

    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    overflow-y: auto;
    overflow: visible;
}

#telaDashboards #containerDashboards #title {
    font-size: 2rem;

    width: 100%;

    color: var(--texto-preto);
}

#telaDashboards #containerDashboards hr {
    width: 100%;

    color: var(--texto-input);
}

#telaDashboards #containerDashboards #usuarioContainer {
    display: flex;
    align-items: center;
}

#telaDashboards #containerDashboards #usuarioContainer img {
    height: 4.0625rem;

    padding-right: 0.5rem;

    filter: opacity(0.9);
}

#telaDashboards #containerDashboards #usuarioContainer img.dark {
    filter: invert(0.9);
}

#telaDashboards #containerDashboards #usuarioContainer #userContent h2 {
    font-size: 1.25rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #usuarioContainer #userContent span {
    font-size: 1rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #filtros {
    display: flex;
    gap: 2.6875rem;

    overflow: visible;
}

#telaDashboards #containerDashboards #filtros .filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    overflow: visible;
}

#telaDashboards #containerDashboards #filtros .filtro label {
    font-size: 1rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #filtros .filtro select {
    font-size: 1rem;

    padding: 0.5rem 1rem 0.5rem 0.5rem;
    
    border-radius: 5px;

    border: none;

    background-color: var(--background-claro);

    box-shadow: 2px 2px 4px 0px var(--shadowbox);

    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: 23.25rem;

    overflow: visible;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    overflow: visible;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #informacoesGerais {
    height: 10.3125rem;
    width: 20.8125rem;
    padding: 1rem;
    gap: 1rem;

    border-radius: 7px;

    display: flex;
    flex-direction: column;

    box-shadow: 2px 2px 6px 0px var(--shadowbox);
    background-color: var(--background-claro);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #informacoesGerais #informacoesTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #informacoesGerais #informacoesTitle img {
    height: 1.625rem;
    filter: opacity(0.9);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #informacoesGerais #informacoesTitle img.dark {
    filter: invert(1);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #informacoesGerais #informacoesTitle label {
    font-weight: bold;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #informacoesGerais #informacoesContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    gap: 0.4rem;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #informacoesGerais #informacoesContent span {
    font-size: 0.75rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho {
    height: 10.3125rem;
    width: 20.8125rem;
    padding: 1rem;

    border-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 2px 2px 6px 0px var(--shadowbox);
    background-color: var(--background-claro);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #desempenhoTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #desempenhoTitle img {
    height: 1.625rem;
    filter: opacity(0.9);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #desempenhoTitle img.dark {
    filter: invert(1);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #desempenhoTitle label {
    font-weight: bold;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #informacoesContent #notaMedia {
    display: flex;
    align-items: center;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #informacoesContent #notaMedia h1 {
    font-size: 2.25rem;

    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #informacoesContent #notaMedia h2 {
    padding-left: 0.5rem;
    padding-right: 0.25rem;

    color: var(--roxo-primario);
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #informacoesContent #notaMedia span {
    color: var(--roxo-primario);

    font-size: 1rem;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho #informacoesContent #notaMedia p {
    color: var(--texto-preto);

    font-size: 1rem;
}

#telaDashboards #containerDashboards #dashboards #containerInformacoesDesempenho #desempenho h4 {
    font-size: 1rem;
    font-weight: 300;

    color: var(--texto-preto);

    text-decoration: underline;
}

#telaDashboards #containerDashboards #dashboards #frequencia {
    height: 100%;
    width: 20.8125rem;

    border-radius: 7px;

    padding: 1rem;

    box-shadow: 2px 2px 6px 0px var(--shadowbox);
    background-color: var(--background-claro);
}

#telaDashboards #containerDashboards #dashboards #frequencia #frequenciaTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-bottom: 2rem;
}

#telaDashboards #containerDashboards #dashboards #frequencia #frequenciaTitle img {
    height: 1.625rem;
    filter: opacity(0.9);
}

#telaDashboards #containerDashboards #dashboards #frequencia #frequenciaTitle img.dark {
    filter: invert(1);
}

#telaDashboards #containerDashboards #dashboards #frequencia #frequenciaTitle label {
    font-weight: bold;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #frequencia #graficoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 1.625rem;
}

#telaDashboards #containerDashboards #dashboards #frequencia #graficoContainer #grafico {
    height: 10.375rem;
    width: 10.375rem;
}

#telaDashboards #containerDashboards #dashboards #frequencia #graficoContainer #textoGrafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#telaDashboards #containerDashboards #dashboards #frequencia #graficoContainer #textoGrafico h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #frequencia #graficoContainer #textoGrafico label {
    font-size: 1rem;
    font-weight: 300;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #frequencia #labelsFrequencia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#telaDashboards #containerDashboards #dashboards #frequencia .label {
    display: flex;
    align-items: center;

    gap: 0.5rem;
}

#telaDashboards #containerDashboards #dashboards #frequencia .label span {
    font-size: 0.75rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #frequencia .label span strong {
    font-size: 1rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #frequencia .label #circlePresenca {
    height: 2rem;
    width: 2rem;

    border-radius: 50px;

    background-color: var(--roxo-terciario);
}

#telaDashboards #containerDashboards #dashboards #frequencia .label #circlePresencaInativo {
    height: 2rem;
    width: 2rem;

    border-radius: 50px;

    background-color: #d3d3d3;
}

#telaDashboards #containerDashboards #dashboards #frequencia .label #circleFalta {
    height: 2rem;
    width: 2rem;

    border-radius: 50px;

    background-color: var(--roxo-primario);
}

#telaDashboards #containerDashboards #dashboards #frequencia .label #circleFaltaInativo {
    height: 2rem;
    width: 2rem;

    border-radius: 50px;

    background-color: #b5b5b5;
}

#telaDashboards #containerDashboards #dashboards #notas {
    height: 18.3125rem;
    width: 20.8125rem;

    border-radius: 7px;

    padding: 1rem;

    box-shadow: 2px 2px 6px 0px var(--shadowbox);
    background-color: var(--background-claro);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    overflow: visible;
}

#telaDashboards #containerDashboards #dashboards #notas #notasTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

#telaDashboards #containerDashboards #dashboards #notas #notasTitle img {
    height: 1.625rem;
    filter: opacity(0.9);
}

#telaDashboards #containerDashboards #dashboards #notas #notasTitle img.dark {
    filter: invert(1);
}

#telaDashboards #containerDashboards #dashboards #notas #notasTitle label {
    font-weight: bold;

    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #dashboards #notas #graficoBarra {
    height: 13.6875rem;
    width: 100%;

    overflow: visible;
}

#telaDashboards #containerDashboards #containerInsights {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: visible;
}

#telaDashboards #containerDashboards #containerInsights #headerInsights {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#telaDashboards #containerDashboards #containerInsights #headerInsights img {
    height: 2rem;
    width: 2rem;
    opacity: 0.9;
}

#telaDashboards #containerDashboards #containerInsights #headerInsights img.dark {
    filter: invert(1);
}

#telaDashboards #containerDashboards #containerInsights #headerInsights h2 {
    font-size: 1.25rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #containerInsights #insightsContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.25rem;
    overflow: visible;
}

#telaDashboards #containerDashboards #containerInsights #insightsContainer .insight {
    background-color: var(--background-claro);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;

    padding: 1rem;

    width: 50.5rem;
    min-height: 8.0625rem;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 0px var(--shadowbox);
}

#telaDashboards #containerDashboards #containerInsights #insightsContainer .insight h2 {
    font-size: 1rem;
    font-weight: bold;

    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #containerInsights #insightsContainer .insight h3 {
    font-size: 0.75rem;
    font-weight: 100;

    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #containerInsights #insightsContainer .insight span {
    font-size: 1rem;
    font-weight: 100;

    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #containerRelatorios {
    background-color: var(--background-claro);

    border-radius: 7px;
    box-shadow: 2px 2px 4px 0px var(--shadowbox);

    padding: 1rem;

    height: 20rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#telaDashboards #containerDashboards #containerRelatorios #tituloRelatorios {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 3rem;
}

#telaDashboards #containerDashboards #containerRelatorios #tituloRelatorios img {
    height: 2rem;
}

#telaDashboards #containerDashboards #containerRelatorios #tituloRelatorios img.dark {
    filter: invert(1);
}

#telaDashboards #containerDashboards #containerRelatorios #tituloRelatorios h2 {
    color: var(--texto-preto);
    font-size: 1.25rem;
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: 100%;
    justify-content: center;
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio .containerTextoRelatorio h2 {
    font-size: 1rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio .containerTextoRelatorio h2 strong {
    text-decoration: underline;
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerTextoRelatorio p {
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio .containerTextoRelatorio h3 {
    font-size: 0.75rem;
    color: var(--texto-transparente);
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio .containerTextoRelatorio span {
    font-size: 0.75rem;
    color: var(--texto-preto);
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio .containerDownloadRelatorio {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--roxo-primario);
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio .containerDownloadRelatorio:hover {
    background-color: var(--roxo-secundario);
    cursor: pointer;
}

#telaDashboards #containerDashboards #containerRelatorios #bodyRelatorios .containerRelatorio .containerDownloadRelatorio img {
    height: 1rem;
}

/* Efeito de carregamento para o botão de download */
.loader {
    /* Estilo do círculo */
    border: 4px solid #f3f3f300; /* Cinza claro */
    border-top: 4px solid #fff; /* Parte superior branca (o que gira) */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite; /* Inicia a animação */
}

/* Define a animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Garante que o ícone de download fique invisível quando o loader está presente */
/* A propriedade :has() é experimental, se não funcionar use display: flex com justify/align center */
.containerDownloadRelatorio img {
    display: block;
}
.containerDownloadRelatorio:has(.loader) img {
    display: none;
}

@media(min-width:1800px){
    :root {
        font-size: 17px;
    }
    #telaDashboards {
        padding-right: 1.5rem;
    }
    #telaDashboards #containerDashboards #dashboards {
        justify-content: start;
        gap: 7rem;
    }
}

@media(max-width:600px){
    #telaDashboards {
        display: flex;
        flex-direction: column-reverse;
    }

    #telaDashboards #containerDashboards {
        padding-left: 0px;
        padding: 1rem;
    }
}